{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="row contact-page">
        <div class="col-5">
            <form method="post" action="">
                <div class="natural-form">
                    <p><span>Je représente</span></p>
                    <input type="text" style="min-width: 380px;" placeholder=""/>
                    <p>et je recherche</p>
                    <input type="text" style="max-width: 280px;" placeholder=""/>
                    <p>pour</p>
                    <input type="text" style="max-width: 280px;" placeholder=""/>
                </div>

                <div class="indentity-form">
                    <input type="text" placeholder="Nom"/>
                    <input type="text" placeholder="Prénom"/>
                </div>
                <div class="indentity-form">
                    <input type="email" style="margin-top:15px" placeholder="Email"/>
                    <input type="tel" style="margin-top:15px" placeholder="Téléphone"/>
                </div>

                <input type="submit" value="Soumettre" />
            </form>
        </div>
        <div class="col-7">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2783.5500452320744!2d4.814546215826629!3d45.7601658216662!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4eba674a283b7%3A0x6947273e03f5f324!2s8%20Rue%20Pauline-Marie%20Jaricot%2C%2069005%20Lyon!5e0!3m2!1sfr!2sfr!4v1576679499284!5m2!1sfr!2sfr" width="100%" height="450" frameborder="0" style="border:0;padding-left: 15px" allowfullscreen=""></iframe>
            <p>AC Architecture Ingénierie</p>
            <p>8 rue Pauline-Marie-Jaricot, F-69005 Lyon</p>
            <p>T. +33(0)4 37 41 12 30</p>
            <p>contact@ac-architecture.fr</p>
        </div>
    </div>
{% endblock %}
