{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="row col-12 alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row contact-page">
        <div class="col-lg-5 col-12">
            <form method="post" action="{{ path('contact') }}">
                <div class="natural-form">
                    <p><span>Je représente</span></p>
                    <input type="text" name="represente" style="min-width: 380px;" placeholder="" required/>
                    <p>et je recherche</p>
                    <input type="text" name="cherche" style="max-width: 280px;" placeholder="" required/>
                    <p>pour</p>
                    <input type="text" name="pour" style="max-width: 280px;" placeholder="" required/>
                </div>

                <div class="indentity-form">
                    <input type="text" name="firstname" placeholder="Nom" required/>
                    <input type="text" name="lastname" placeholder="Prénom" required/>
                </div>
                <div class="indentity-form">
                    <input type="email" name="email" style="margin-top:15px" placeholder="Email" required/>
                    <input type="tel" name="tel" style="margin-top:15px" placeholder="Téléphone" required/>
                </div>

                <input type="submit" value="Soumettre" />
            </form>
        </div>
        <div class="col-lg-7 col-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2783.5500452320744!2d4.814546215826629!3d45.7601658216662!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4eba674a283b7%3A0x6947273e03f5f324!2s8%20Rue%20Pauline-Marie%20Jaricot%2C%2069005%20Lyon!5e0!3m2!1sfr!2sfr!4v1576679499284!5m2!1sfr!2sfr" width="100%" height="450" frameborder="0" style="border:0;padding-left: 15px" allowfullscreen=""></iframe>
            {{ contact.address | raw }}
            
        </div>
    </div>
{% endblock %}
