{% extends 'base.html.twig' %}

{% block title %}Lieux cultuels{% endblock %}

{% block body %}
  <div class="row realisation-page">
      <div class="col-12 realisation-img">
          <p class="page-title">Logements cultuels</p>
          {% for real in cultuel %}
              <div class="col-4 img">
                  <a href="{{ path('cultuel_view', {id: real.id}) }}">
                      <div class="img-overlay"></div>
                      <img class="img-header" src="{{ vich_uploader_asset(real, 'thumbnailFile') }}"/>
                      <div class="img-content">
                          <p><strong>{{ real.title }}</strong></p>
                      </div>
                  </a>
              </div>
          {% endfor %}
      </div>
  </div>

{% endblock %}
