{% extends 'base.html.twig' %}

{% block title %}Equipements{% endblock %}

{% block body %}
    <div class="row realisation-page">
        <div class="col-12 realisation-img">
            <p class="page-title">Equipements</p>
            {% for real in equipement %}
                <div class="col-4 img" {% if loop.index % 3 == 0 %}style="margin-right: 0"{% endif %}>
                    <a href="{{ path('equipement_view', {id: real.id}) }}">
                        <div class="img-overlay"></div>
                        <img class="img-header" src="{{ vich_uploader_asset(real, 'thumbnailFile') }}"/>
                        <div class="img-content">
                            <p><strong>{{ real.title }}</strong></p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}