{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="row homepage">
        <img class="d-none d-xl-block d-lg-block" src="{{ asset('build/homepage.png') }}" alt="Image de la page d'accueil" />
        <div class="info-img d-none d-xl-block d-lg-block">
            <div>
                <h2 class="counter" data-count="240">236</h2>
                <p>Projets</p>
            </div>
            <div>
                <h2 class="counter" data-count="250000">249996</h2>
                <p>M2 construits</p>
            </div>
            <div>
                <h2>+<span class="counter" data-count="20">16</span></h2>
                <p>Années d'expériences</p>
            </div>
            <div>
                <h2><span class="counter" data-count="53">49</span>/<span class="counter" data-count="47">43</span>%</h2>
                <p>Logement neufs / Réhabilités</p>
            </div>
        </div> 

        <div class="btn-mobile d-xl-none d-lg-none">
            <img src="{{ asset('build/homepage.png') }}" />
            <a href="{{ path('realisations-all') }}">Voir nos projets</a>
        </div>

        <div class="presentation-mobile col-12 d-xl-none d-lg-none">
            {{ presentation.contentHtml | raw }}
        </div>
    </div>
    <script>
        $('.counter').each(function() {
            var $this = $(this),
                countTo = $this.attr('data-count');

            $({ countNum: $this.text()}).animate({
                    countNum: countTo
                },
                {
                    duration: 600,
                    easing:'linear',
                    step: function() {
                        $this.text(Math.floor(this.countNum));
                    },
                    complete: function() {
                        $this.text(this.countNum);
                    }
                });



        });
    </script>
{% endblock %}
