{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
    <div class="row mentions-page">
        <div class="col-4"></div>
        <div class="col">
            {{ mentions.contentHtml | raw }}
        </div>
    </div>
{% endblock %}