{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
    <div class="row mentions-page">
        <div class="col-4 d-none d-lg-block d-xl-block"></div>
        <div class="col-8 col-sm-12 col-md-12 col-xs-12">
            {{ mentions.contentHtml | raw }}
        </div>
    </div>
{% endblock %}