{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
    <div class="row mentions-page">
        <div class="col-4"></div>
        <div class="col">
            <p class="page-title">Informations l&eacute;gales</p>
            <p><strong>AC Architecture Ingenierie</strong><br />8 rue Pauline Jaricot<br />69005 LYON<br />T&eacute;l. 04 37 41 12 30</p>
            <p>RCS Lyon B 750 214 546</p>
            <p><strong>Directeur de la publication</strong></p>
            <p>Bernard Tr&egrave;ves</p>
            <p><strong>Cr&eacute;dits</strong></p>
            <p>Cr&eacute;ation graphique : adrenalink<br />R&eacute;alisation et d&eacute;veloppement web : Tanguy Belin<br />Photographies<br />- projets : voir fiches projets<br />H&eacute;bergement : OVH</p>
            <p><strong>Copyrights contenus</strong></p>
            <p>Tous droits du propri&eacute;taire du contenu du site internet acarchitecture.fr r&eacute;serv&eacute;s. Toute reproduction et toute utilisation du contenu du site autre que la consultation individuelle et priv&eacute;e sont interdites, sauf autorisation.</p>
            <p><strong>Information sur les produits et services</strong></p>
            <p>L&rsquo;information communiqu&eacute;e sur ce site est pr&eacute;sent&eacute;e &agrave; titre indicatif et g&eacute;n&eacute;ral. Elle ne pr&eacute;tend aucunement &agrave; l&rsquo;exhaustivit&eacute;. Malgr&eacute; les mises &agrave; jour du contenu du site, AC Architecture Ingenierie ne peut &ecirc;tre tenue pour responsable de la modification des dispositions administratives et juridiques survenant apr&egrave;s la publication. Les produits et services propos&eacute;s sur le site sont destin&eacute;s aux r&eacute;sidents fran&ccedil;ais.<br />AC Architecture Ingenierie se r&eacute;serve le droit de modifier le contenu des offres commerciales.</p>
            <p><strong>Protection des donn&eacute;es personnelles</strong></p>
            <p>&bull; <strong>Les informations personnelles</strong> collect&eacute;s sur le site ne sont pas c&eacute;d&eacute;es &agrave; des tiers.</p>
            <p>&bull; <strong>Donn&eacute;es statistiques</strong><br />Un syst&egrave;me de statistiques de visites de site permet de mesurer l&rsquo;audience des pages de ce site internet. Lors de votre visite, des &laquo;&nbsp;cookies&nbsp;&raquo; sont enregistr&eacute;s sur votre ordinateur permettant de vous identifier lors d&rsquo;une visite ult&eacute;rieure. Vous pouvez si vous le d&eacute;sirer d&eacute;sactiver les cookies sur votre navigateur internet.</p>
            <p>&bull; <strong>Responsable de traitement des donn&eacute;es personnelles</strong><br />Les donn&eacute;es personnelles sont collect&eacute;es sur le site par la SARL AC Architecture Ingenierie, immatricul&eacute;e au RCS de Lyon sous le num&eacute;ro 750 214 546 et dont le si&egrave;ge social est 8 rue Pauline Jaricot 69005 Lyon.</p>
            <p>&bull; <strong>Finalite de la collecte des donnees personnelles</strong><br />La finalit&eacute; de la collecte des donn&eacute;es personnelles &agrave; travers le formulaire de contact a pour but de recontacter les personnes qui ont laiss&eacute; leurs informations de contact. En soumettant le formulaire, l&rsquo;internaute donne express&eacute;ment son accord pour que les donn&eacute;es &agrave; caract&egrave;re personnel soient trait&eacute;es pour la finalit&eacute; de gestion expos&eacute;e ci-avant.</p>
            <p>&bull; <strong>Dur&eacute;e de conservation des donnees personnelles</strong><br />Les donn&eacute;es personnelles collect&eacute;es via le formulaire de contact sont trait&eacute;es et conserv&eacute;es aussi longtemps que requis pour la finalit&eacute; pour laquelle elles ont &eacute;t&eacute; collect&eacute;es. Les donn&eacute;es personnelles collect&eacute;es aux fins des int&eacute;r&ecirc;ts l&eacute;gitimes du propri&eacute;taire peuvent &ecirc;tre conserv&eacute;es aussi longtemps que n&eacute;cessaire pour atteindre ces objectifs. Les utilisateurs peuvent tout de m&ecirc;me demander &agrave; ce que les coordonn&eacute;es soient supprim&eacute;es. Ces donn&eacute;es personnelles ne sont pas conserv&eacute;es dans des bases de donn&eacute;es. Les cookies utilis&eacute;s pour la mesure de l&rsquo;audience ont une dur&eacute;e de vie de 2 ans.</p>
            <p>&bull; <strong>Confidentialit&eacute; des donn&eacute;es personnelles</strong><br />Les donn&eacute;es personnelles collect&eacute;es via le formulaire de contact sont uniquement destin&eacute;es &agrave; AC Architecture Ingenierie dans le cadre de la demande explicit&eacute;e dans le formulaire. En aucun cas ces donn&eacute;es ne seront transmises, lou&eacute;es ou commercialis&eacute;es &agrave; des tiers.</p>
            <p>&bull; <strong>Lieu de stockage des donn&eacute;es personnelles</strong><br />Les serveurs d'h&eacute;bergement du site sont exclusivement situ&eacute;s au sein de l'Union Europ&eacute;enne. AC Architecture Ingenierie s'engage &agrave; ne proc&eacute;der &agrave; aucun transfert de donn&eacute;es &agrave; caract&egrave;re personnel &agrave; un &eacute;tat non membre de la Communaut&eacute; Europ&eacute;enne.</p>
            <p>&bull; <strong>Droit d&rsquo;acc&egrave;s, de rectification ou de suppression des donn&eacute;es personnelles</strong><br />Conform&eacute;ment &agrave; la Loi Informatique et Libert&eacute;s du 6 janvier 1978 modifi&eacute;e, et le R&egrave;glement Europ&eacute;en G&eacute;n&eacute;ral sur la Protection des Donn&eacute;es 2016/679 (RGPD), vous disposez d'un droit d'acc&egrave;s, de rectification et de suppression des donn&eacute;es personnelles vous concernant, que vous pouvez exercer en utilisant le formulaire de contact, ou en envoyant un mail &agrave; contact@ac-architecture.fr mentionnant l'objet "Loi RGPD" ou en envoyant un courrier au si&egrave;ge social de la soci&eacute;t&eacute; indiqu&eacute; ci-avant.</p>
        </div>
    </div>
{% endblock %}