{% extends 'base.html.twig' %}

{% block title %}Organisation{% endblock %}

{% block body %}
    <div class="row organisation-page">
        <div class="col-6">
            {{ organisation.contentHtml | raw }}
        </div>
        <div class="col-6">
            <img src="{{ vich_uploader_asset(organisation, 'imageFile') }}"/>
        </div>
    </div>
{% endblock %}