{% extends 'base.html.twig' %}

{% block title %}Présentation{% endblock %}

{% block body %}
    <div class="row presentation-page">
        <div class="col-6">
            {{ presentation.contentHtml | raw }}
        </div>
        <div class="col-6">
            <img src="{{ vich_uploader_asset(presentation, 'imageFile') }}"/>
        </div>
    </div>
{% endblock %}
