{% extends 'base.html.twig' %}

{% block title %}Protection des données{% endblock %}

{% block body %}
    <div class="row protection-page">
        <div class="col-4"></div>
        <div class="col">
            {{ protection.contentHtml | raw }}
        </div>
    </div>
{% endblock %}