{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
    <div class="row services-page">
        <div class="col-6">
            {{ services.contentHtml | raw }}
        </div>
        <div class="col-6">
            <img src="{{ vich_uploader_asset(services, 'imageFile') }}"/>
        </div>
    </div>
{% endblock %}