{% extends '@EasyAdmin/Default/layout.html.twig' %}

{% block main %}
  <div class="dashboard">
    <h1>Bienvenue sur le Back Office d'Ac-Architecture</h1>
    <h4>Pour commencer a editer les Pages / Réalisations, utilisé le menu de gauche</h4>

  </div>
  <style>
    .dashboard {
      text-align: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }

  </style>
{% endblock %}
