@import "~bootstrap/scss/bootstrap";

$blue: #569bb1;
$grey: #797979;

body {
    background-color: white;
    font-family: 'Lato', sans-serif !important;
}

p {
  font-size: 13pt;
}

img {
    max-width: 100%;
}

strong {
    font-weight: 700;
}

.page-title {
    color: $blue !important;
    font-weight: 900;
    margin-bottom: 5px;
    .real-breadcrumb {
        color: $grey;
        font-weight: 400;
    }
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: $blue;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}


[class*='col-'], .col {
    padding: 0;
}


/* Underline From Center */

.menu-container {
    margin-top: 40px;
    margin-bottom: 50px;

    .logo {
        margin-top: 5px;
    }

    .menu-links {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        list-style: none;
        justify-content: flex-end;
        display: flex;
        align-self: flex-end;
        margin-top: 35px;
        a {
            padding-left: 17px;
            padding-right: 17px;
            letter-spacing: 2px;
            color: $grey;

            &:hover {
                text-decoration: none;
                color: $blue;
            }

        }

        .active {
            color: $blue;
        }
    }

    .dropdown {
        display: block;
        z-index: 100;

        .dropdown-menu {
            z-index: 999999;
            border: 0;
            border-radius: 0;
            top: 100%;
            transition: 0.3s all ease-in-out;
        }

        .dropdown-toggle {
            padding: 10px;
            &:after {
                visibility: hidden;
                display: none;
            }
            &:active {
                pointer-events: none;
            }
        }

        .dropdown-item {
            background: none;
            font-size: 0.9rem;
        }
    }

    .menu-hamburger {
        margin-top: 15px;
        background-color: $blue;
        height: 40px;
        width: 40px;
        border-radius: 40px;
        padding-top: 10px;
        div {
            width: 20px;
            height: 2px;
            background-color: white;
            margin: 3px auto;
        }
    }
}

.mobile-header {
    width: 100%;
    height: 150px;
    background-position: center center;
    background-size: cover;
    margin-bottom: 20px;
}

@media (max-width: 992px) { 
    .menu-container {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

.hamburger-menu-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    background-color: $blue;
    padding-top: 45px;
    z-index: 1500;
    display: none;

    img {
        margin-bottom: 40px;
    }

    a {
        font-family: 'Lato', sans-serif;
        display: block;
        text-align: center;
        color: white;
        margin-bottom: 20px;

        &:active, &:focus {
            color: white;
        }
    }

    .close-menu {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 20px;
        height: 20px;
        opacity: 1;
    }
    .close-menu:before, .close-menu:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 21px;
        width: 2px;
        background-color: #fff;
    }
    .close-menu:before {
        transform: rotate(45deg);
    }
    .close-menu:after {
        transform: rotate(-45deg);
    }
}


.menu-links li:hover ul,
.menu-links li:focus-within ul {
    display: block;
}

.footer-container {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-top: 70px;
    a {
        color: $grey;
    }
}

.homepage {
    position: relative;
    img {
        width: 100%;
    }
    .info-img {
        position: absolute;
        bottom: 0;
        z-index: 9999;
        display: block;
        padding: 20px;
        left: 25px;
        div {
            display: inline-block;
            margin-right: 70px;

            &:last-of-type {
                margin-right: 0;
            }
        }
        h2 {
            color: white;
            font-size: 68px;
            margin-bottom: -7px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
        }

        p {
            font-size: 18px;
            color: $blue;
            margin-left: 5px;
            font-family: 'Lato', sans-serif;
            font-weight: 900;
        }
    }

    .btn-mobile {
        position: relative;
        img {
            width: 100%;
            
        }
        a {
            text-align: center;
            border:1px solid $grey;
            padding: 5px;
            width: 200px;
            left: 50%;
            margin-left: -100px;
            position: absolute;
            bottom: 20px;
            background-color: rgba(255,255,255, 0.1);
            color: white;
        }
        
    }

    .presentation-mobile {
        margin-top: 15px;
    }
}

.mobile-realisation {
    p {
        color: $grey;
        font-size: 15px;
        margin-bottom: 40px;
        margin-top: 10px;
    }

    img {
        width: 100%;
    }
}

.contact-page {
    form {
        font-family: 'Lato', sans-serif;
        font-weight: 900;
    }
    .natural-form {
        p {
            margin-bottom: 0rem;
        }
        span, p {
            color: $blue;
            font-size: 31px;
            line-height: 2;
        }
        input {
            margin-right: 5px;
            font-size: 31px;
            color: $blue;
            -webkit-box-shadow: 0px 1px 4px 0px #828282;
            box-shadow: 0px 1px 4px 0px #828282;
        }
        margin-bottom: 50px;

        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $blue;
            opacity: 0.6; /* Firefox */
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $blue;
            opacity: 0.6; /* Firefox */
        }

        ::-ms-input-placeholder { /* Microsoft Edge */
            color: $blue;
            opacity: 0.6; /* Firefox */
        }
    }

    input {
        outline: 0;
        padding: 5px;
        border:none;
        vertical-align: middle;
    }

    .indentity-form {
        input {
            width: 45%;
            border-bottom: 1px solid $grey;
            &:last-of-type {
                float: right;
                margin-right: 15px;
            }
        }
    }

    input[type=submit] {
        background-color: $blue;
        text-align: center;
        color: white;
        margin: 40px auto 25px auto;
        display: block;
        width: 150px;
        height: 35px;
    }

    .col-7 {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        p {
            margin-bottom: 0;
            padding-left: 15px;
        }

        iframe {
            margin-bottom: 10px;
        }

        margin-bottom: 100px;
    }
}

.equipe-page {
    .col-6:first-of-type {
        padding-right: 0;
    }
    .equipe-img {
        padding: 0;

        .img {
            position: relative;
            padding: 0;
            display: inline-block;
            margin-bottom: 15px;
            cursor: pointer;

            &:hover {
                .img-content {
                    top: 50%;
                    left: 50%;
                    opacity: 1;
                }

                .img-overlay {
                    opacity: 1;
                }
            }

            .img-overlay {
                background: rgba(86,155,177, 0.6);
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                opacity: 0;
                -webkit-transition: all 0.4s ease-in-out 0s;
                -moz-transition: all 0.4s ease-in-out 0s;
                transition: all 0.4s ease-in-out 0s;
            }

            img {
                width: 100%;
            }

            .img-content {
                position: absolute;
                text-align: center;
                padding-left: 1em;
                padding-right: 1em;
                width: 100%;
                top: 80%;
                left: 50%;
                opacity: 0;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                -webkit-transition: all 0.3s ease-in-out 0s;
                -moz-transition: all 0.3s ease-in-out 0s;
                transition: all 0.3s ease-in-out 0s;
                color: white;
            }

            .mobile-img-content {
                strong {
                    color: $blue;
                    font-size: 17px;
                }

                p {
                    color: $grey;
                    font-size: 15px;
                    margin-bottom: 0px;
                    line-height: 18px;

                    &:first-of-type {
                        margin-top: 5px;
                    }
                }
            }
        }
    }

    .cv-equipe {
        display: none;
        text-align: left;
        background-color: $blue;
        padding:15px;
        margin-left:20px;
    }

}

@media (min-width: 992px) { 
    .equipe-page {
        .equipe-img {
            .col-lg-4 {
                max-width: 31.3333%;
            }

            .img {
                margin-left: 5px;
            }
        }
    }
}


@media (max-width: 992px) { 
    .equipe-page {
        .equipe-img {
            .col-12 {
                padding-left:15px;
                padding-right:15px;
            }
        }
    }
}

.mentions-page {
    padding-left: 23px;
}

.presentation-page, .organisation-page, .services-page {
    .col-6 {
        &:first-of-type {
            padding-right: 20px;
        }
    }
}

.services-page {
    p {
        font-size: 11pt;
    }

    .service-img, .schema-img {
        width:100%;
    }

    .schema {
        padding-top: 10px;
    }

    .link {
        a {
            color: black;
            text-decoration: none;
        } 
        padding-top: 30px;
    }
}

.realisation-page {
  .page-title {
    margin-bottom: 10px;
  }
    .realisation-img {
        .img {
            position: relative;
            padding: 0;
            display: inline-block;
            margin-bottom: 50px;
            margin-right: 50px;
            cursor: pointer;
            img {
                width: 100%;
            }

            &:hover {
                .img-content {
                    top: 50%;
                    left: 50%;
                    opacity: 1;
                }

                .img-overlay {
                    opacity: 1;
                }
            }

            .img-overlay {
                background: rgba(86,155,177, 0.6);
                position: absolute;
                //height: 99%;
                //width: 90%;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                opacity: 0;
                -webkit-transition: all 0.4s ease-in-out 0s;
                -moz-transition: all 0.4s ease-in-out 0s;
                transition: all 0.4s ease-in-out 0s;
            }

            .img-content {
                position: absolute;
                text-align: center;
                padding-left: 1em;
                padding-right: 1em;
                width: 100%;
                top: 80%;
                left: 50%;
                opacity: 0;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                -webkit-transition: all 0.3s ease-in-out 0s;
                -moz-transition: all 0.3s ease-in-out 0s;
                transition: all 0.3s ease-in-out 0s;
                color: white;
            }
        }
    }
}

.real-page {
    p {
        font-size: 11pt !important;
    }
    .img-header {
        width: 100%;
        margin-bottom: 20px;
    }

    .side-img {
        text-align: right;
        img {
            margin-bottom: 30px;
        }

    }

    .col-12 {
        margin-top: 20px;
    }
}

.owl-nav {
    span {
        font-size: 80px;
        color: $blue;
        position: absolute;
    }

    span {
        &[aria-label=Previous] {
            top: 40%;
            transform: translateY(-50%);
            left: 10px;
        }

        &[aria-label=Next] {
            top: 40%;
            transform: translateY(-50%);
            right: 10px;
        }
    }
}

.owl-footer {
  .owl-nav {

  }
}

.owl-real {
  .owl-nav {
      span {
          &[aria-label=Previous] {
              top: 45%;
              transform: translateY(-50%);
              left: 10px;
          }

          &[aria-label=Next] {
              top: 45%;
              transform: translateY(-50%);
              right: 10px;
          }
      }
  }
}

.real-page {
    .col-4 {
        padding-left: 20px;
    }

    .bottom {
        margin-top: -30px;
    }

    // .fiche {
    //     margin-top: -96px;
    // }
}
