<div class="row footer-container">
    <p>&copy; ac architectures ingénierie 2019 / <a href="{{ path('mentions') }}">Mentions légales</a> - <a href="{{ path('protection') }}">Protection des données</a></p>
</div>